<div class=" grd-row-col-6--lg m0 p0">
    <div class="grd cssPanelBox my1 p1 brdr--light-gray cssBgGreen">
        <div class="grd-row py1">
            <div class="grd-row-col-3-6 fnt-eintopf-darkgreen">
                2016-02-08 / 14:39:33
            </div>
            <div class="grd-row-col-3-6 txt--right">
                <a href="#">Refresh</a>
            </div>
        </div>
        <div class="grd-row my1">
            <div class="grd-row-col-1-6">
                <h5 class="m0 p0 fnt--dark-gray thin">CPU</h5>
            </div>
            <div class="grd-row-col-5-6">
                <div class="brdr--light-gray bg--white cssProgressbar">
                    <div class="bg--green cssProgress CPU">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="grd-row my1">
            <div class="grd-row-col-1-6">
                <h5 class="m0 p0 fnt--dark-gray thin">RAM</h5>
            </div>
            <div class="grd-row-col-5-6">
                <div class="brdr--light-gray bg--white cssProgressbar">
                    <div class="bg--green cssProgress RAM">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="grd-row my1">
            <div class="grd-row-col-1-6">
                <h5 class="m0 p0 fnt--dark-gray thin">I/O</h5>
            </div>
            <div class="grd-row-col-5-6">
                <div class="brdr--light-gray bg--white cssProgressbar">
                    <div class="bg--green cssProgress IO">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="grd-row-col-6--lg list--unstyled m0 p0">
    <li class="grd cssPanelBox my2 p1 brdr--light-gray ">
        <a ui-sref="panel.containers" class="grd-row">
            <div class="grd-row-col-5-6">
                <h5 class="m0 p0 fnt--dark-gray thin">All Containers <span>(24)</span></h5>
                <span class="fnt--mid-gray small">Manage all Containers</span>
            </div>
            <div class="grd-row-col-1-6 txt--right">
                <i class="fnt--mid-gray  fa fa-chevron-right fa-2x"></i>
            </div>
        </a>
    </li>
    <li class="grd cssPanelBox my2 p1 brdr--light-gray">
        <a ui-sref="panel.apps" class="grd-row">
            <div class="grd-row-col-5-6">
                <h5 class="m0 p0 fnt--dark-gray thin">All running apps <span>(29)</span></h5>
                <span class="fnt--mid-gray small">Show all apps</span>
            </div>
            <div class="grd-row-col-1-6 txt--right">
                <i class="fnt--mid-gray  fa fa-chevron-right fa-2x"></i>
            </div>
        </a>
    </li>
    <li class="grd cssPanelBox my2 p1 brdr--light-gray ">
        <div class="grd-row">
            <div class="grd-row-col-5-6">
                <h5 class="m0 p0 fnt--dark-gray thin">Manage Vagrant <span></span></h5>

                <a href="#" class="small">Reload now</a>
            </div>
            <div class="grd-row-col-1-6 txt--right">
                <a ui-sref="panel.settings">
                    <i class="fnt--mid-gray  fa fa-chevron-right fa-2x"></i>
                </a>

            </div>
        </div>
    </li>
</ul>