<div class="triangle"></div>
<div class="grd m0 p0 cssPopover">
    <div class="grd-row cssPopoverHead ">
        <div class="grd-row-col-6 p05">
            <div class="px1 m0">
                <i class="fa fa-sitemap"></i>
                <span class="px1">
                  Proxy
                </span>
            <div class="px1 m0 txt--center">

                <span class="px1">Proxy</span>
            </div>
        </div>
    </div>
    <div class="grd-row cssPopoverBody">
      <div class="grd-row-col-6 cssBgWhite">
          <div class="m0 p1 bg--red" ng-if="states.proxyError">
            {{states.proxyError}}
          </div>
      </div>
    </div>
    <div class="grd-row cssPopoverFooter ">
        <div class="grd-row-col-6 p05">

            <div class="px1 m0" ng-if="states.proxy">
                <i class="fa fa-check-circle fnt--green"></i>
                <span class="small px1">
                  is running
                </span>
            </div>

            <div class="px1 m0 fnt--red" ng-if="!states.proxy">
                <i class="fa fa-ban">
                    <span class="small px1">
                      is not running
                    </span>
                </i>
            </div>

        </div>
    </div>
</div>
