<div class="triangle"></div>
<div class="grd m0 p0 cssPopover">
    <div class="grd-row cssPopoverHead ">
        <div class="grd-row-col-6 p05">
            <div class="px1 m0 txt--center">

                <span class="px1">Internet</span>
            </div>
        </div>
    </div>
    <div class="grd-row cssPopoverBody">
        <div class="grd-row-col-6 cssBgWhite">
            <div class="m0 p1">
                <ul class="list--unstyled m0 p1">
                    <li class="grd-row">
                        <a href="#" class="grd-row-col-6">test</a>
                    </li>
                    <li>
                        <a href="#" class="grd-row-col-6">test</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grd-row cssPopoverFooter ">
        <div class="grd-row-col-6 p05">
            <div class="px1 m0 fnt--red">
                <i class="fa fa-ban ">
                    <span class="small px1">no connection</span>
                </i>

            </div>
        </div>
    </div>
</div>
