html, body{
    height:100%;
}
body {
    margin: 0;
    padding: 60px 0 0 0;
    overflow-x: hidden;
}
button{
    outline: none;
}
.fa-stack-3x{
    position:absolute;
    top: 8px;
    right: 0px;
    font-size: .707em;
}

.cssHeightFull{
    height:100% !important;
    height:auto;
    min-height:100%;
}
.cssBgWhite{
    background-color: rgba(255, 255, 255, 1.0);
}
.cssBgGreen{
    background-color: rgba(228, 240, 232, 1.0);
}
.cssBgDarkGreen{
    background-color: rgba(19, 103, 112, 1.0);
}
.cssBgGreenAlpha{
    background-color: rgba(228, 240, 232, 0.3);
}
.cssBgRedAlpha{
    background-color: rgba(242, 105, 94, 0.3);
}
.fnt-eintopf-green{
    color:rgba(180,199,186,1.0);
}
.fnt-eintopf-red{
    color:#f2695e;
}
.fnt-eintopf-darkgreen{
    color:rgba(19, 103, 112, 1.0);
}
.btn.btn-without-design{
    background:none;
    border:0;
    border-radius:0;


}
.btn-green{
    border-color: rgba(19, 103, 112, 1.0);
    background-color: rgba(19, 103, 112, 1.0);
    color: #fff;
    border-radius: 3px;
    padding: 1.8rem 1.5rem;
    border: 1px solid #02565f;
    text-decoration: none;
    text-align: center;
}
.btn-green:hover, .btn-green:focus, .btn-green:active {
    color: #fff;
    background-color: rgba(2, 86, 95, 1.0);
    border-color: rgba(19, 103, 112, 1.0);
}
.cssIconPlace img{
    max-width:50px;

}
.cssIconPlace:before{
    display:inline-block;
}
.cssIconCamera:before{
    content:"\f030";
    font-family:  FontAwesome;
}
.cssRecipeImageWrapper{
    cursor:pointer;
    display:inline-block;
    width:5rem;
    height:5rem;
    position:relative;
}
.cssRecipeImageWrapper:before{
    display:none;
}
.cssRecipeImageWrapper:hover:before{
    display:inline-block;
    z-index:2040;
    position:absolute;
    top:0rem;
    left:35%;
    box-sizing: border-box;
    position:absolute;
    color:#fff;
    font-size: 1.5rem;
    padding:0;
}

.cssRecipeImageButton{
    width:5rem;
    height:5rem;
    display:inline-block;
    position:relative;
    padding:.9rem;
}

.cssRecipeImageWrapper:hover:after{
    content: "Change the photo";
    border: 1px solid rgba(242, 105, 94, 1.0);
    color:#fff;
    background-color: rgba(2, 86, 95, .8);
    text-decoration: none;
    text-align: center;
    width:5rem;
    height:5rem;
    position:absolute;
    box-sizing: border-box;
    top:0;
    left:0;
    padding:2rem 0 0 0;
}

.py05{

}
.p05{
    padding:0.5rem;
}
.mx05{
    margin:0 0.5rem;
}
.my05{
    margin:0.5rem 0;
}
.cssNowrap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.cssHeader{
    max-height:60px;
    border-bottom:2px solid rgba(215, 228, 219, 1.0);
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.cssHeader ul li a{
    color:#02565f;
    line-height:60px;
    border-radius:0;
    padding:.7rem;

}
.cssIcon img{
    height:1.5rem;
    width:1.5rem;
    vertical-align:middle;
}
.cssHeader ul li:hover{
    border-bottom:2px solid rgba(180, 199, 186, 1.0);
}
.cssHeader ul li:last-child:hover{
    border-bottom:2px solid rgba(215, 228, 219, 1.0);
}
.cssHeader ul li:focus{
    border-bottom:2px solid #f2695e;
}
.cssHeader ul li button {
    border:none;
    background:none;
    margin:.5rem 0;
}
.cssHeader ul li button i{
    padding: .7rem;
}
.cssHeader ul li.on button i{
    background-color: rgba(180,199,186,1.0);
    color:#02565f;
}
.cssHeader ul li.off button i{
    background-color: rgba(220,230,223,1.0);
}
.cssHeader ul li button i{
    font-size:110%;
}
.cssHeader ul li.off button i{
    color:#cbcbcb;
}
.cssHeader ul li.active a.btn--link i, .cssHeader ul li:hover a.btn--link i{
    color:#02565f;
}
.cssHeader ul li{
    min-height:60px;
    height:60px;
    max-height:60px;

}
.cssHeader ul li:last-child{
    margin-left:10rem;
}
.cssSidebar{
    border-right:0px solid rgba(215, 228, 219, 0.8);
}
.cssSidebar .btn--link, .cssSidebar .btn--link.active {
    color: rgba(144, 144, 144, .99);
    border-radius: 0;
    border-top:0;
    border-bottom:0;
    border-right:0;
    border-left: 2px solid rgba(215, 228, 219, 0.2);
    position:relative;
    padding: .5rem .1rem .5rem 1rem;
}
.cssSidebar ul li a.btn--link:hover{
    border-left:2px solid rgba(215, 228, 219, 1.0);
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.cssSidebar ul li a.btn--link.active{
    color:rgba(2,86,95,.99);
    background-color: rgba(228, 240, 232, 1.0);
    border-left:2px solid #f2695e;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.cssSidebar ul li a.btn--link.active:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 1.45rem solid transparent;
    border-bottom: 1.45rem  solid transparent;
    border-left: 1.4rem solid rgba(228, 240, 232, 1.0);
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 100%;
    margin-left: -1px;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}
.cssSidebar ul li a.btn--link.active i{

}
.cssSidebar .media .media-figure{
    margin-left:1em;
    margin-right:0;
}
.btn-round{
    border-radius: 50%;
    border: 1px solid;
    border-color: rgba(180,199,186,1.0);
    height: 1.8rem;
    width: 1.8rem;
    background:transparent;
    vertical-align:middle;
}
.cssSidebar ul li a.btn--link .cssProjectState button.stopped:hover{
    background:rgba(180,199,186,.5);
    color:rgba(180,199,186,1.0);
    border-color:rgba(180,199,186,1.0);
}
.cssSidebar ul li a.btn--link .cssProjectState button.running:hover {
    background:rgba(220,230,223,1.0);
    color:rgba(2,86,95,.99);
    border-color:rgba(180,199,186,1.0);
}
.cssSidebar ul li a.btn--link.active .cssProjectState button.running:hover {
    background:rgba(220,230,223,1.0);
    color:rgba(2,86,95,.99);
    border-color:rgba(180,199,186,1.0);
}
.cssSidebar ul li a.btn--link.active .cssProjectState button.stopped {
    background:rgba(180,199,186,.5);
    color:rgba(180,199,186,1.0);
    border-color:rgba(180,199,186,1.0);
}
.cssSidebar ul li a.btn--link .cssProjectState button.stopped{
    background:rgba(225,225,225,0.3);
    color:rgba(225,225,225,1.0);
    border-color:rgba(225,225,225,1.0);
}
.cssSidebar ul li a.btn--link.active .cssProjectState button.stopped:hover{
    background:#fff;
}
.cssSidebar ul li a.btn--link .cssProjectState button.stopped:hover{
    color:rgba(180,199,186,1.0);
}
.cssSidebar ul li a.btn--link .cssProjectState button.running {
    background:rgba(220,230,223,1.0);
    color:rgba(2,86,95,.99);
}
.cssSidebar ul li a.btn--link.active .cssProjectState button.running:hover {
    background:#fff;
}
.cssSidebar ul li a.btn--link .cssProjectState .btn-round.refresh{
    background-color: rgba(242, 105, 94, 0.3);
    color:rgba(242, 105, 94, 1.0);
    border-color:rgba(242, 105, 94, 0.5);
}
.cssSidebar .cssProjectState button.stopped:hover .fa:before {
    content: "\f04b";
}
.cssSidebar .cssProjectState button.running:hover .fa:before {
    content: "\f04c";
}

.cssToolbar .btn.active, .cssToolbar .active i{
    color:#fff;
}
.cssToolbar .btn, .cssToolbar .btn--green,.cssToolbar .btn--red,.cssToolbar .btn--orange,.cssToolbar .btn--blue,
.cssSidebar .btn--red, .btn.small{
    border-width:1px;
    padding: .5rem;
    margin: 0 0 0 .5rem;
}
.cssSetup ul li p.h4{
    margin:0;
}
#container {
    display: flex;
    height:100% !important;
    height:auto;
    min-height:100%;
}
.scroll {
    width: 100%;
    height: 400px;
    background: rgba(72,72,72,.99);
    overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
    width: 15px;
}
.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 50px;
}
.scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(144,144,144,.99);
}
.cssContainer li p, .cssSidebar a p, pre{
    word-wrap: break-word;
}
ul.cssContainer li .btn-without-design:hover{
    background-color: rgba(228, 240, 232, 1.0);
}
ul.cssContainer li{
    position:relative;
}
ul.cssContainer li .btn-without-design:hover:after{
    font:normal normal normal 2rem/1 FontAwesome;;
    color:rgba(180,199,186,1.0);
    position:absolute;
    right:.8rem;
    top:25%;
    content:"\f144";
    flex-direction: inherit;
    text-align:left;
}
.cssBorderWhitoutTop{
    border-left: 0px solid rgba(228, 240, 232, .3);
    border-right: 0px solid rgba(228, 240, 232, .3);
    border-bottom: 0px solid rgba(228, 240, 232, .3);
}
.cssTab {
    border-left:0px solid rgba(228, 240, 232, .3);
    border-bottom:2px solid rgba(228, 240, 232, .3);
    position:relative;
}
.cssTab  li {
    border-bottom:2px solid rgba(215, 228, 219, 0.2);
    cursor: pointer;
    color:#02565f;
    margin-bottom:-2px;
    position:relative;
}
.cssTab  li span.small{
    position:absolute;
    right:0;
    top:0;
}
.cssTab  li:hover {
    border-bottom:2px solid rgba(215, 228, 219, 1.0);
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.cssTab .cssActive, .cssTab li.cssActive:hover  {
    border-bottom:2px solid #f2695e;
    cursor: default;
    background-color: rgba(228, 240, 232, 1.0);
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.cssReadme h1,.cssReadme h2,.cssReadme h3,.cssReadme h4,.cssReadme h5{
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight:400;
    padding-bottom:.3em;
}
.cssReadme h1{
    font-size:1.8rem;
    line-height: 1.2;
    border-bottom:1px solid #eee;
}
.cssReadme h2{
    font-size:1.5rem;
    line-height: 1.225;
    border-bottom:1px solid #eee;
}
.cssReadme h3{
    font-size:1.25rem;
}
.cssReadme h4{
    font-size:1rem;
}
.cssReadme pre{
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.cssReadme code{
    padding: 0.2em 0;
    margin: 0;
    font-size: 85%;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.cssReadme blockquote{
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
}
.cssReadme table{
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}
.cssReadme table tr{
    background-color: #fff;
    border-top: 1px solid #ccc;
}
.cssReadme table tr:nth-child(2n){
    background-color: #f8f8f8;
}
.cssReadme table th,.cssReadme table td{
    padding: 6px 13px;
    border: 1px solid #ddd;
}
.cssRemoveButton i:hover{
    color:#e74c3c;
}

@media screen and (max-width: 32rem){
    .cssLogo{
        background:url(../img/icon_topf.png) center left no-repeat;
        min-height:30px;
        max-width:10%;
    }
    .cssLogoImg{
        display:none;
    }
    .cssNav{
        max-width:90%;
        text-align:center;

    }


    .cssToolbar li a span{
        display:none;
    }
    .cssToolbar li a {
        font-size:100%;
    }
}
/* -------------- switch ----------------- */
.cssSwitchBg span {
    background: white;
    border-radius: 2em;
    border: 0.12em solid #e6e6e6;
    display: block;
    height: 2em;
    position: relative;
    width: 3.5em;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor:pointer;
}
.cssSwitchBg span.on {
    background: #25ba84;
    border-color: #22a977;

}
.cssSwitchBg span.off {
    background-color: #f1f1f1;
    border-color: #e1e1e1;

}
.cssSwitchBg span.refresh {
    background-color: rgba(242, 105, 94, 0.3);
    color:rgba(242, 105, 94, 1.0);
    border-color:rgba(242, 105, 94, 0.5);

}
.cssSwitch {
    background: white;
    border-radius: 2em;
    border: 0.1em solid #d9d9d9;
    display: block;
    float: left;
    height: 1.9em;
    width: 1.9em;
    position: relative;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    z-index: 1;
}
.cssSwitchBg .on .cssSwitch{
    box-shadow: -0.2em 0.2em 0.5em rgba(0, 0, 0, 0.06), 0.4em 0.4em 1.5em rgba(0, 0, 0, 0.08);
}
.cssSwitchBg .on .cssSwitch {
    position:absolute;
    right: .02rem;
    text-align: right;
    float: right;
    top:-0.5px;
    color: white;
    text-shadow: 0 0.1em 0 #00dc61;
}
.cssSwitchBg .off .cssSwitch{
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.06), -0.4em 0.4em 1.5em rgba(0, 0, 0, 0.08);
    top:-0.5px;
    position:absolute;
}
.cssSwitch .off {
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.06), -0.4em 0.4em 1.5em rgba(0, 0, 0, 0.08);
}
.cssSwitch.off {
    right: .55em;
    color: #aaa;
}
.cssSwitchBg .on .cssSwitchLabel{
    position:absolute;
    top:7px;
    left:5px;
    color: white;
    text-shadow: 0 0.1em 0 #00dc61;
    font-size: .6em;
}
.cssSwitchBg .off .cssSwitchLabel{
    position:absolute;
    top:7px;
    right:5px;
    color:#ccc;
    font-size: .6em;
}
.cssSwitchBg .refresh .cssSwitchLabel{
    position:absolute;
    top:4px;
    right:18px;
    color:rgba(242, 105, 94, 1.0);
}
.cssSwitchBg .refresh .cssSwitch{

}
.cssRemoveBtn{
    border: none;
    background: none;
    margin: 0;
    padding:0;
}
.cssRemoveBtn .fa-stack-2x{
    color: rgba(216,216,216,.99);
}
.cssRemoveBtn.on .fa-stack-2x{
    color: rgba(242, 105, 94, 0.3);
}
.cssRemoveBtn.on .fa-inverse{
    color:rgba(242, 105, 94, 1.0);
}
.cssRemoveBtn:hover .fa-inverse{
    color:rgba(255, 255,255, 1.0);
}
.cssRemoveBtn:hover .fa-stack-2x{
    color:rgba(242, 105, 94, 1.0);
}
.cssRemoveBtn .fa-stack-2x{
    font-size:2.3rem;
    line-height:2rem;
}
.cssRemoveBtn .fa-stack{
    line-height: 2.3rem;
    margin-left:1rem;
}
/* -------------- pattern ----------------- */
.cssPrivateList{

}
.cssPatterns{
    margin-top:5rem;
}
.cssCreate .btn{
    padding:.1rem 1rem;
}
.cssCreate .media-body form{
   vertical-align:middle;
}
.cssBox .media-footer button.btn, .btn.cancel, .btn.remove, .btn.update, .cssListBtn .btn{
    padding:.25rem 1rem;
    background:none;
}
.cssBox .media-footer button.btn.disabled, .cssBox .media-footer button.btn.disabled:hover, .cssBox .cssListBtn button.btn.disabled{
    display:none;
}
.cssBox .media-footer a:hover, .cssBox .media-footer a:focus, .cssBox .media-footer button.btn:hover,
.cssBox .media-footer button.btn:focus, .cssCreate .btn:hover, .btn.cancel:hover, .btn.remove:hover, .btn.cancel:focus,
.btn.remove:focus, .btn.update:hover, .btn.update:focus, .cssListBtn .btn:hover{
    border-color: rgba(19, 103, 112, 1.0);
    background-color: rgba(19, 103, 112, 1.0);
    color: #fff;
    border: 2px solid #02565f;
    text-decoration: none;
    text-align: center;
}

.cssBox.cssPattern .media-figure{
    min-height:15rem;
    margin-right:0;
    background-color:rgba(228, 240, 232, 1.0);
}
.cssBox.cssPatternBig .media{
    max-height:5rem;
}
.cssBox.cssPatternBig .media button{
    border: none;
    background: none;
    margin: 0;
}
.cssBox.cssPatternBig .media button:hover i{
    color:rgba(2,86,95,.99);
}
.cssBox.cssPatternBig .media-figure{
    max-height:5rem;
    min-height:5rem;
    margin-right:0;
    background-color:rgba(228, 240, 232, 1.0);
}
.cssBox.cssCreate .media-figure{
    max-height:5.2rem;
    min-height:5.2rem;
    margin-right:0;
    background-color:rgba(228, 240, 232, 1.0);
}

.cssBox.cssClone .media-figure{
    min-height:30rem;
    margin-right:0;
    background-color:rgba(228, 240, 232, 1.0);
    position:relative;
}
.cssBox.cssClone .media-figure .cssColorPicker{
    position:absolute;
    bottom:0;
}
.cssBox.cssClone .media-figure .cssColorPicker label{

}
.cssBox .media{
    position:relative;
}
.cssBox.cssClone .media{
    position:relative;
    min-height:30rem;
}
.cssBox .media.disabled{
    background:url("../img/installed.png") no-repeat 70% 90%;

}
.cssBox.cssPrivateList.disabled .cssListBtn{
    background:url("../img/installed.png") no-repeat 90% 50%;
    background-size:80%;
}
.cssBox.cssPrivateList.disabled{
    opacity:.4;
}
.cssBox .media-footer{
    position:absolute;
    bottom:0;
    right:1rem;
}
.cssBox.cssCreate .media-footer{

}
.cssBox .media-content{
    min-height:6rem;
    max-height:6rem;
    overflow:hidden;
}

.cssBox .media-content-textarea{

}
.cssRecipeIcon{

}
/* -------------- panel ----------------- */
button.close{
    outline: none;
    border: none;
    background: transparent;
    box-shadow: none;

    z-index:10000;
}
button.close:hover{
    color:rgba(19, 103, 112, 1.0);
}
.cssPanelBody a h5{
}
.cssPanelBox, .cssProgressbar, .cssProgress{
    border-radius:5px;
}
.cssPanelBox a{
    text-decoration:none;
    position: relative;
}
.cssPanelBox i{


}
li.cssPanelBox:hover{
    background-color: rgba(250,250,250,.99);
}
.cssProgress.CPU{
    width:50%;
}
.cssProgress.RAM{
    width:20%;
}
.cssProgress.IO{
    width:10%;
}

/* -------------- popover ----------------- */
.ns-popover-list-theme.ns-popover-left-placement.ns-popover-top-align{
    max-width:6rem;
}


.ns-popover-list-theme {
    z-index:1040;
    min-width:20rem;
}
.cssPopover{
    box-sizing: border-box;
    border: solid 1px #d8d8d8;
    border-radius: 5px;
    background-color: #fff;
    margin-top:20px;
    -webkit-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
}
.cssPopover.recipe{
    box-sizing: border-box;
    border: solid 1px #d8d8d8;
    border-radius: 5px;
    background-color: #fff;
    margin-top:0px;
    margin-right:-30px;
    -webkit-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
}
.triangle{
    margin-top:20px;
    display: block;
    width: 0;
    height: 0;
    border: solid 11px;
    border-color: transparent;
    position: absolute;
}
.triangle:after {
    content: " ";
    display: block;
    width:0;
    height:0;
    border: solid 10px;
    border-color: transparent;
    position: absolute;
}
.ns-popover-bottom-placement .triangle{
    border-bottom-color:#e1e1e1;
    left:50%;
    top: -21px;
    margin-left: -10px;
}
.cssPopoverHead{
    border-bottom:1px solid #ccc;
    -moz-border-radius: 5px 5px 0px 0px / 5px 5px;
    border-radius: 5px 5px 0px 0px / 5px 5px;
    background-color:#e1e1e1;
}
.cssPopoverHeaderTitle{
   position:relative;
    border-bottom:1px solid #ccc;
}
.cssPopoverHeaderCloseBtn{
    position:absolute;
    top:0;
    right:0;
}
.cssPopoverFooter{
    border-top:1px solid #ccc;
    -moz-border-radius: 0px 0px 5px 5px / 5px 5px;
    border-radius: 0px 0px 5px 5px / 5px 5px;
    background-color:#e1e1e1;

}
.cssPopoverFooterBorder{
    border-top:1px solid #ccc;
}
.cssPopoverBody{
    min-height:6rem;
}
.cssPopoverBody ul li a:hover, .cssPopoverBody ul li .btn#update:hover,  .cssPopoverBody ul li .btn#hide:hover{
    background-color: rgba(228, 240, 232, 1.0);
    position:relative;
    color:rgba(19, 103, 112, 1.0);
}
.cssPopoverBody ul li a:hover:after, .cssPopoverBody ul li .btn:hover:after{
    font-family:  FontAwesome;
    position:absolute;
    right:.8rem;
}
.cssPopoverBody ul li a#edit:hover:after{
    content:"\f044";
}
.cssPopoverBody ul li a#share:hover:after{
    content:"\f045";
}
.cssPopoverBody ul li .btn#update:hover:after{
    content:"\f021";
}
.cssPopoverBody ul li .btn#hide:hover{
    color:rgba(242, 105, 94, 1.0);
}
.cssPopoverBody ul li .btn#hide:hover:after{
    content:"\f146";
    color:rgba(242, 105, 94, 1.0);
}
.cssPopoverBody ul li a{
    text-decoration: none;
    padding:.5rem 1rem;
}
.cssPopoverBody ul li .btn#update, .cssPopoverBody ul li .btn#hide{
    border-radius:0;
    border:0;
    flex-direction:inherit;
    background:none;
    text-align:left;
}
