/* Needed for hiding scrollbars when pushing */
html {
    /*overflow-y: scroll;*/
}
.ng-pageslide {
    background: #ffffff;
    overflow-y: auto !important;
    z-index: 1090 !important;
}
body.ng-pageslide-body-open {
    overflow: hidden;
}

body.ng-pageslide-body-open::before {
    content: '.';
    display: block;
    position: fixed;
    top: 0;
    background-color: rgb(0,0,0);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1080;
    opacity: 0.5;
    transition: opacity 1s;
}
body.ng-pageslide-body-closed::before {
    transition: opacity 1s;
    opacity: 0;
    content: '.';
    display: block;
    position: fixed;
    top: 0;
    background-color: rgb(0,0,0);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1080;
    pointer-events: none;
}