
<div class="grd px2 my1">
    <h4 class=" m0 py1">
        <span class="muted">Clone Project:</span> <strong class="bold fnt-eintopf-darkgreen">Name des Pattern</strong>
    </h4>
    <div class="grd p0 my1" ng-if="errorMessage">
        <div class="p0 m0">
            <div class="grd-row-col-6--lg p1 m0 bg--red">
                <a href="" class="fnt--white flt--right " ng-click="result.errorMessage = null">
                    <i class="fnt--white fa fa-times"></i>
                </a>
                <p class="fnt--white">{{result.errorMessage}}</p>
            </div>
        </div>
    </div>
    <div class="p0 m0 cssBox cssClone">
        <div class="bg--off-white ">
            <form class="media" id="formCloneProject">
                <div class="media-figure color-picker-picker" style="background-color:{{value.mediabg}};">
                    <span class="cssRecipeImageWrapper cssIcon cssIconCamera small">
                        <span class="cssRecipeImageButton">

                        </span>
                    </span>



                    <div class="cssColorPicker">
                        <span class="m0 py05 small">Background: </span>
                        <div class=" small">
                            <color-picker
                                    ng-model="recipeColor"
                                    color-picker-format="'hex'"
                                    color-picker-swatch-pos="'right'"
                            ></color-picker>
                        </div>
                    </div>

                </div>

                <div class="media-body p1">
                    <div  class="grd-row-col-6 py5 m0">
                        <label class="grd-row p0">
                            <span class="m0 py05 small">Please enter project-id. The id must be unique. This is also the folder name in your scripts.</span>
                        </label>
                        <div class=" m0 media-content-input">
                            <input name="id" type="text" ng-model="project.id"/>
                        </div>
                        <label class="grd-row p0">
                            <span class="m0 py05 small">Please enter the name of your project. This is displayed on the left side in "your projects"</span>
                        </label>
                        <div class=" m0 media-content-input">
                            <input class=" " type="text" name="name" id="projectName" ng-model="project.name">
                        </div>
                        <label class="grd-row p0">
                            <span class="m0 py05 small">Please enter the description of your project. </span>
                        </label>
                        <div class=" m0 media-content-textarea">
                            <textarea name="description" ng-model="project.description"></textarea>
                        </div>


                        <input type='hidden' ng-model='recipeImage' />

                        <img ng-src="{{recipeImage}}" alt="Description" />

                        <div class="grd-row media-footer my1 txt--right">
                            <button class=" btn" ui-sref='cooking.projects.create'>Cancel</button>
                            <button class=" btn"  ng-click="clone()" ng-disabled="cloning">Clone</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

