<div id="container">
  <div class="grd-row-col-1-6--lg  grd-row-col-2-6--sm grd-row-col-2-6--md cssSidebar">
    <div class="p1 m0 cssNewProject">

      <div class="grd-row m0 p0">
        <a ui-sref="cooking.projects.create" class="grd-row-col-6 my1 p0 btn-green small">
          <i class="fa fa-plus-circle "></i>
          <span> Create Project</span>
        </a>
      </div>

    </div>

    <div class="cssMenu p1 my2">
      <ul class="list--unstyled  p0 my2">

        <li ng-repeat="(key, project) in projects" class="m0 grd-row txt--left" id="{{project.id}}">
          <a class="grd-row-col-6 py2 btn--link txt--left"
             ui-sref="cooking.projects.recipe({id: project.id})" ui-sref-active='active'>
            <div class="media">

              <div class="media-body txt--left cssNowrap">
                <p class="small m0 p0 cssNowrap">
                  {{project.name}}
                </p>
              </div>

              <div class="media-figure m0 cssProjectState" ng-if="locks['projects:' + project.id]">
                  <button class="small btn-round refresh p0">
                      <i class="fa fa-spinner  fa-spin"></i>
                  </button>
              </div>

              <div class="media-figure m0 cssProjectState" ng-if="!locks['projects:' + project.id]">
                <button class="small btn-round p0" ng-click="toggleStartStop(project)" ng-disabled="locked"
                        ng-attr-title="{{ project.state? 'Started | Click to stop' : 'Stopped | Click to start'}}"
                        ng-class="project.state? 'running' : 'stopped'">
                    <i class="fa" ng-class="project.state? 'fa-play' : 'fa-pause'"></i>
                </button>
              </div>

            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="grd-row-col-5-6--lg grd-row-col-4-6--sm grd-row-col-4-6--md" ui-view>

  </div>
</div>


