
<div class="triangle"></div>
<div class="grd m0 p0 cssPopover">
    <div class="grd-row ">
        <div class="grd-row-col-6 p05 m0">
            <div class="p05 m0 txt--center cssPopoverHeaderTitle">
                <span class="px1 fnt--mid-gray">Remove Container</span>
                <button class="cssPopoverHeaderCloseBtn close icon-x fnt--light-gray" ng-click="hidePopover()">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="grd-row cssPopoverBody">
        <div class="grd-row-col-6 p05 cssBgWhite">
            <div class="m0 p0">
                <p>Are you sure you want to remove the container?</p>
            </div>
        </div>
    </div>
    <div class="grd-row ">
        <div class="grd-row-col-6 p05">
            <div class="small p05 txt--right">
                <button class="btn cancel px1">
                    Cancel
                </button>
                <button class="btn remove px1" autofocus>
                    Remove
                </button>
            </div>
        </div>
    </div>
</div>
