
<div class="triangle"></div>
<div class="grd m0 p0 cssPopover recipe">
    <div class="grd-row ">
        <div class="grd-row-col-6 p05 m0">
            <div class="p05 m0 txt--center cssPopoverHeaderTitle">
                <span class="px1 fnt--mid-gray">Project actions</span>
                <button class="cssPopoverHeaderCloseBtn close icon-x fnt--light-gray" ng-click="hidePopover()">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="grd-row cssPopoverBody">
        <div class="grd-row-col-6 cssBgWhite">
            <div class="m0 p0">
                <ul class="list--unstyled py5 px0">
                    <li class="grd-row">
                        <a href="" id="edit" class="grd-row-col-6 px1 fnt-eintopf-darkgreen"
                           ui-sref="cooking.projects.edit({id: project.id})">
                            Edit project details ...
                        </a>
                    </li>
                    <li class="grd-row">
                        <button id="update" class="btn grd-row-col-6 py0 px1 txt--left fnt-eintopf-darkgreen"
                                ng-click="hidePopover();updateProject(project); onClickTab('protocol')" ng-disabled="locked">
                              Update project
                        </button>
                    </li>
                    <!--<li class="grd-row">-->
                        <!--<a href="" id="share" class="grd-row-col-6 px1 fnt-eintopf-darkgreen">Share project recipe whith team ...</a>-->
                    <!--</li>-->
                    <li class="grd-row">
                        <button id="hide" class="btn grd-row-col-6 py0 px1 txt--left fnt-eintopf-darkgreen"
                                ng-click="hidePopover();deleteProject(project)" ng-disabled="locked">
                            Remove project recipe
                        </button>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="grd-row ">
        <div class="grd-row-col-6 p05">

            <div class=" p05">
                <p class="small m0 py05 cssPopoverFooterBorder">Description:</p>
                <p class="small m0 py05 ">{{project.description}}</p>
            </div>


        </div>
    </div>
</div>
