<div id="container" class="grd-row-col-6--lg" ng-show="settings.vagrantSshConfig">
    <div class="grd cssPanelBox my2 p0 brdr--light-gray">
        <ul class="grd-row-col-6--lg m0 p0 list--unstyled cssContainer">
            <li class="grd-row py1 muted cssBgGreen">
                <span class="mx1 ">ssh config</span>
            </li>
            <li class="grd-row py1 bg--off-white">
                <label class="grd-row-col-1-6 mx1 py05">Host</label>
                <input readonly class="grd-row-col-5-6 mx1 brdr--light-gray cssPanelBox" type="text" value=" {{settings.vagrantSshConfig.hostname}}" name="Vagrant ssh config"/>
            </li>
            <li class="grd-row py1 bg--off-white">
                <label class="grd-row-col-1-6 mx1 py05">Port</label>
                <input readonly class="grd-row-col-5-6 mx1 brdr--light-gray cssPanelBox" type="text" value="{{settings.vagrantSshConfig.port}}" name="Vagrant ssh config"/>
            </li>
            <li class="grd-row py1 bg--off-white">
                <label class="grd-row-col-1-6 mx1 py05">User</label>
                <input readonly class="grd-row-col-5-6 mx1 brdr--light-gray cssPanelBox" type="text" value="{{settings.vagrantSshConfig.user}}" name="Vagrant ssh config"/>
            </li>
        </ul>
    </div>
</div>
