<div class="grd cssPanel mx1">
    <div class="grd-row py1 cssPanelHead">
        <div class="grd-row-col-1-6--lg grd-row-col-1-6--sm">
            <button class="close icon-x fnt--light-gray"  ui-sref="panel.main" ng-show="panelPageLabel">
                <i class="fa fa-angle-left fa-2x">
                    <span class="ng-hide">Back</span>
                </i>
            </button>
        </div>

        <h4 class="fnt--dark-gray m0 p0 grd-row-col-4-6--lg grd-row-col-4-6--sm txt--center">
          {{panelPageLabel || 'Settings'}}
        </h4>

        <div class="grd-row-col-1-6--lg grd-row-col-1-6--sm txt--right">
            <button type="button" class="close icon-x fnt--light-gray" ng-click="closePanel();">
                <i class="fa fa-times">
                    <span class="ng-hide">Close</span>
                </i>
            </button>
        </div>

    </div>
    <div class="grd-row cssPanelBody" ui-view="panelContent"></div>
</div>



