<div class="triangle" ng-class="states.vagrant? 'on' : 'off'"></div>
<div class="grd m0 p0 cssPopover">
    <div class="grd-row ">
        <div class="grd-row-col-6 p0">
            <div class="p1 m0 small" ng-class="states.vagrant? 'cssBgDarkGreen' : 'cssBgRed'">
                <i class="fa" ng-class="states.vagrant? 'fa-check-circle fnt-eintopf-green' : 'fa-ban'"></i>
                <span>Virtual Machine</span>
                <span>{{states.vagrant? 'is running' : 'is not running'}}</span>
            </div>
        </div>
    </div>
</div>