<div class="measure">
  <div class="grd cssSetup">
    <img src="img/setup.png" class="my1"/>
    <p class="muted m0 py05">Ingredients:</p>
    <ul class="list--unstyled p0 m0">
      <li>
        <p class="h4 p0 m0">
          <i ng-show="states.setupVagrantFile == true" class="fa fa-check-circle fnt-eintopf-green"></i>
          <i ng-show="states.setupVagrantFile == 'failed'" class="fa fa-exclamation-circle fnt--red"></i>
          <i ng-show="!states.setupVagrantFile" class="fa fa-spinner fa-pulse"></i>
          check Vagrant config
        </p>
      </li>
      <li>
        <p class="h4 p0 m0">
          <i ng-show="states.setupVagrantVM == true" class="fa fa-check-circle fnt-eintopf-green"></i>
          <i ng-show="states.setupVagrantVM == 'failed'" class="fa fa-exclamation-circle fnt--red"></i>
          <i ng-show="!states.setupVagrantVM" class="fa fa-spinner fa-pulse"></i>
          check and start Eintopf-Docker-Service
        </p>
      </li>
    </ul>

    <div ng-controller="terminalCtrl" ng-show="showTerminal">
        <terminal terminal-class="grd-row p0 m0 cssBorderWhitoutTop scroll bg--dark-gray p1 fnt--off-white" scroll-glue></terminal>
    </div>

    <div ng-show="states.setupError" class="">
        <pre class="bg--dark-gray my2 p1 fnt--off-white ">{{states.setupError}}</pre>
        <a class="btn flt--left" ng-click="setupRestart()">
          try again
        </a>
    </div>
  </div>
</div>





