html, body{
    height:100%;
}
body {
    margin: 0;
    padding: 60px 0 0 0;
    overflow-x: hidden;
}
.cssHeightFull{
    height:100% !important;
    height:auto;
    min-height:100%;
}
.cssBgGreen{
    background-color: rgba(228, 240, 232, 1.0);
}
.cssBgGreenAlpha{
    background-color: rgba(228, 240, 232, 0.3);
}
.fnt-eintopf-green{
    color:rgba(180,199,186,1.0);
}
.btn-green{
    border-color: rgba(19, 103, 112, 1.0);
    background-color: rgba(19, 103, 112, 1.0);
    color: #fff;
    border-radius: 3px;
    padding: .5rem 1.5rem;
    border: 1px solid #02565f;
    text-decoration: none;
    text-align: center;
}
.btn-green:hover, .btn-green:focus, .btn-green:active {
    color: #fff;
    background-color: rgba(2, 86, 95, 1.0);
    border-color: rgba(19, 103, 112, 1.0);
}
.py05{
    padding:0.5rem 0;
}
.cssHeader{
    max-height:60px;
    border-bottom:2px solid rgba(215, 228, 219, 1.0);
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.cssHeader ul li a.btn--link{
    color:#02565f;
    line-height:60px;
    border-radius:0;
}
.cssHeader ul li:hover{
    border-bottom:2px solid rgba(180, 199, 186, 1.0);
}
.cssHeader ul li:last-child:hover{
    border-bottom:2px solid rgba(215, 228, 219, 1.0);
}
.cssHeader ul li.active{
    border-bottom:2px solid #f2695e;
}
.cssHeader ul li.active a.btn--link i, .cssHeader ul li:hover a.btn--link i{
    color:#02565f;
}
.cssHeader ul li{
    min-height:60px;
    height:60px;
    max-height:60px;
    margin-left:5px;
}
.cssSidebar{
    border-right:0px solid rgba(215, 228, 219, 0.8);
}
.cssSidebar .btn--link, .cssSidebar .btn--link.active {
    color: rgba(144, 144, 144, .99);
    border-radius: 0;
    border-top:0;
    border-bottom:0;
    border-right:0;
    border-left: 2px solid rgba(215, 228, 219, 0.2);
    position:relative;
}
.cssSidebar ul li a.btn--link:hover{
    border-left:2px solid rgba(215, 228, 219, 1.0);
}
.cssSidebar ul li a.btn--link.active{
    color:rgba(2,86,95,.99);
    background-color: rgba(228, 240, 232, 1.0);
    border-left:2px solid #f2695e;
}
.cssSidebar ul li a.btn--link.active:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 1.45rem solid transparent;
    border-bottom: 1.45rem  solid transparent;
    border-left: 1.4rem solid rgba(228, 240, 232, 1.0);
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 100%;
    margin-left: -1px;
}
.cssSidebar ul li a.btn--link.active i{

}
.cssSidebar .media .media-figure{
    margin-left:1em;
    margin-right:0;
}
.cssToolbar .btn.active, .cssToolbar .active i{
    color:#fff;
}
.cssToolbar .btn, .cssToolbar .btn--green,.cssToolbar .btn--red,.cssToolbar .btn--orange,.cssToolbar .btn--blue,
.cssSidebar .btn--red, .btn.small{
    border-width:1px;
    padding: .5rem;
    margin: 0 0 0 .5rem;
 }
.cssSetup ul li p.h4{
    margin:0;
}
#container {
    display: flex;
    height:100% !important;
    height:auto;
    min-height:100%;
}

.scroll {
    width: 100%;
    height: 400px;
    background: rgba(72,72,72,.99);
    overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
    width: 15px;
}
.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 50px;
}
.scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(144,144,144,.99);
}
.cssContainer li p, .cssSidebar a p, pre{
    word-wrap: break-word;
}

.cssBorderWhitoutTop{
    border-left: 2px solid rgba(228, 240, 232, .3);
    border-right: 2px solid rgba(228, 240, 232, .3);
    border-bottom: 2px solid rgba(228, 240, 232, .3);
}
.cssTab {
    border-left:2px solid rgba(228, 240, 232, .3);
    border-right:2px solid rgba(228, 240, 232, .3);
}
.cssTab  li {
    border-top:2px solid rgba(228, 240, 232, .3);
    cursor: pointer;
    color:#02565f;
}
.cssTab  li:hover {
    border-top:2px solid rgba(228, 240, 232, 1);
}
.cssTab .cssActive, .cssTab li.cssActive:hover  {
    border-top:2px solid #f2695e;
    cursor: default;
    background-color: rgba(228, 240, 232, 1.0);
}
.cssReadme h1,.cssReadme h2,.cssReadme h3,.cssReadme h4,.cssReadme h5{
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight:bold;
    border-bottom:1px solid #eee;
    padding-bottom:.3em;
}
.cssReadme h1{
    font-size:2.25em;
    line-height: 1.2;
}
.cssReadme h2{
    font-size:1.75em;
    line-height: 1.225;
}
.cssReadme h3{
    font-size:1.5em;
}
.cssReadme h4{
    font-size:1.25em;
}
.cssReadme pre{
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.cssReadme code{
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.cssReadme table{
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}
.cssReadme table tr{
    background-color: #fff;
    border-top: 1px solid #ccc;
}
.cssReadme table tr:nth-child(2n){
    background-color: #f8f8f8;
}
.cssReadme table th,.cssReadme table td{
    padding: 6px 13px;
    border: 1px solid #ddd;
}
.cssRemoveButton i:hover{
    color:#e74c3c;
}

@media screen and (max-width: 32rem){
    .cssLogo{
        background:url(../img/icon_topf.png) center left no-repeat;
        min-height:30px;
        max-width:10%;
    }
    .cssLogoImg{
        display:none;
    }
    .cssNav{
        max-width:90%;
        text-align:center;

    }
    .cssNav ul{
        float:left;
        width:100%;
    }
    .cssNav ul li{
        width:23%;
    }
    .cssToolbar li a span{
        display:none;
    }
    .cssToolbar li a {
        font-size:100%;
    }
}
.cssSwitchBg{

}
.cssSwitchBg span {
    background: white;
    border-radius: 2em;
    border: 0.12em solid #e6e6e6;
    display: block;
    height: 2em;
    position: relative;
    width: 3.5em;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor:pointer;
}
.cssSwitchBg span.on {
    background: #25ba84;
    border-color: #22a977;

}
.cssSwitchBg span.off {
    background-color: #f1f1f1;
    border-color: #e1e1e1;

}
.cssSwitch {
    background: white;
    border-radius: 2em;
    border: 0.1em solid #d9d9d9;
    display: block;
    float: left;
    height: 1.9em;
    width: 1.9em;
    position: relative;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    z-index: 1;
}
.cssSwitchBg .on .cssSwitch{
    box-shadow: -0.2em 0.2em 0.5em rgba(0, 0, 0, 0.06), 0.4em 0.4em 1.5em rgba(0, 0, 0, 0.08);
}
.cssSwitchBg .on .cssSwitch {
    position:absolute;
    right: .02rem;
    text-align: right;
    float: right;
    top:-0.5px;
    color: white;
    text-shadow: 0 0.1em 0 #00dc61;
}
.cssSwitchBg .off .cssSwitch{
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.06), -0.4em 0.4em 1.5em rgba(0, 0, 0, 0.08);
    top:-0.5px;
    position:absolute;
}
.cssSwitch .off {
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.06), -0.4em 0.4em 1.5em rgba(0, 0, 0, 0.08);
}
.cssSwitch.off {
    right: .55em;
    color: #aaa;
}
.cssSwitchBg .on .cssSwitchLabel{
    position:absolute;
    top:7px;
    left:5px;
    color: white;
    text-shadow: 0 0.1em 0 #00dc61;
    font-size: .6em;
}
.cssSwitchBg .off .cssSwitchLabel{
    position:absolute;
    top:7px;
    right:5px;
    color:#ccc;
    font-size: .6em;
}
.cssPatterns{
    margin-top:8rem;
}
.cssBox .media-footer button.btn{
    padding:.25rem 1rem;
    background:none;
}
.cssBox .media-footer button.btn.disabled, .cssBox .media-footer button.btn.disabled:hover{
    display:none;
}
.cssBox .media-footer a:hover, .cssBox .media-footer a:focus, .cssBox .media-footer button.btn:hover, .cssBox .media-footer button.btn:focus{
    border-color: rgba(19, 103, 112, 1.0);
    background-color: rgba(19, 103, 112, 1.0);
    color: #fff;
    border: 2px solid #02565f;
    text-decoration: none;
    text-align: center;
}

.cssBox.cssPattern .media-figure{
    min-height:15rem;
    margin-right:0;
    background-color:rgba(228, 240, 232, 1.0);
}
.cssBox.cssCreate .media-figure{
    min-height:10rem;
    margin-right:0;
    background-color:rgba(228, 240, 232, 1.0);
}
.cssBox .media{
    position:relative;
}
.cssBox .media.disabled{
    background:url("../img/installed.png") no-repeat 100% 90%;
    max-width:85%;

}
.cssBox .media-footer{
    position:absolute;
    bottom:0;
    right:1rem;
}
.cssBox.cssCreate .media-footer{
    position:absolute;
    bottom:0;
    right:1rem;
}
.cssBox .media-content{
    min-height:6rem;
    max-height:6rem;
    overflow:hidden;
}
.cssBox .media-content-input{
    min-height:4rem;
    max-height:4rem;

}

